body {
  /* fluide typographie */
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}

.App {
  text-align: center;
}
.home {
  display: flex;
  align-items: center;
}

.top {
  display: flex;

  background-color: #00c3ff;
  color: #ffff;
  text-align: center;
  height: 35vh;
  min-height: 10rem;
}

.top svg {
  display: block;
}

.top h1 {
  position: relative;
  top: 20%;
  margin: 1em auto;
  font-size: 1.6em;
}

@media screen and (max-width: 680px) {
  /* .top {
  height: 1vh;
  min-height: 8rem;
  } */
  .top h1 {
    margin: 1em auto;
    font-size: 1.9em;
  }
}

h5, h6 {
  margin: 0 auto;
}

.bottom {
  background-color: #ffff;
}

.tasks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;

  /* box-sizing: content-box; */
  /* border-radius:6px;
    -webkit-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.75); 
    */

  /* @media (max-width: 680px) {
        width: 85%;
        /* min-width: 85%; */
  /* height: 25%; */
  /* transform: translate(-50%, -50%);  
     }  */
}

.empty-state{
    margin : 3rem auto;
}
.empty-state h2 {
  font-size: 1em;
}

@media screen and (max-width: 1200px) {
    .tasks {
      width: 80%;
    }
    .empty-state h2 {
        font-size: 1.2em;
      }
  }
  @media screen and (max-width: 680px) {
    .tasks {
      width: 85%;
    }
  }

.svg_icons {
  transform: scale(1.8);
}

.react-datepicker-wrapper {
  width: 32%;
  margin: 0em auto;
}
@media (max-width: 1200px) {
  .react-datepicker-wrapper {
    width: 100%;
  }
}

.react-datepicker-wrapper > div > input {
  width: 100%;
}
.react-datepicker {
  margin: 0em auto;
}

.delete-state{
  margin: 2em auto;
}
