body {
  /* fluide typographie */
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}

.App {
  text-align: center;
}
.home {
  display: flex;
  align-items: center;
}

.top {
  display: flex;
  background-color: #1abc9c;
  color: #ffff;
  text-align: center;
  height: 35vh;
  min-height: 10rem;
}

.top svg {
  display: block;
}

.top h1 {
  position: relative;
  top: 20%;
  margin: 1em auto;
  font-size: 1.6em;
}

@media screen and (max-width: 680px) {
  .top h1 {
    margin: 1em auto;
    font-size: 1.9em;
  }
}

h5, h6 {
  margin: 0 auto;
}

.bottom {
  background-color: #ffff;
}

.tasks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 60%;
}

@media (max-width: 680px) {
  .tasks{
    padding-top: 6em;
  }
}
.empty-state{
    margin : 3rem auto;
}
.empty-state h2 {
  font-size: 1em;
}

@media screen and (max-width: 1200px) {
    .tasks {
      width: 80%;
    }
    .empty-state h2 {
        font-size: 1.2em;
      }
  }
  @media screen and (max-width: 680px) {
    .tasks {
      width: 85%;
    }
  }

.svg_icons {
  transform: scale(1.8);
}

.react-datepicker-wrapper {
  width: 32%;
  margin: 0em auto;
}
@media (max-width: 1200px) {
  .react-datepicker-wrapper {
    width: 100%;
  }
}

.react-datepicker-wrapper > div > input {
  width: 100%;
}
.react-datepicker {
  margin: 0em auto;
}

.delete-state{
  margin: 2em auto;
}


#nprogress .bar {
  top:0!important;
  background: #FFBB00 !important;
  height: 6px !important;

}

#nprogress .peg {
  box-shadow: 0 0 10px #FFBB00, 0 0 5px #FFBB00;
}

#nprogress .spinner-icon {
  border-top-color: #FFBB00;
  border-left-color: #FFBB00;
}

.sk-spinner {
  margin-top: 10vh!important;
}

.Overlay {
  position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color:  rgba(0, 0, 0, .65);
}

.Overlay h2  {   
  margin-bottom: 3rem;
}

.not-found {
  margin: 8em auto;
}